<div class="tabbed-results">
  <div class="ui pointing secondary tabular menu">
    <a class="item active" data-tab="features">Features</a>
    <a class="item" data-tab="investments">Investments</a>
  </div>
  <div class="ui tab active" data-tab="features">
    <div class="ui two column stackable grid cards">
      {{#each (sort-by "name" visibleFeatures) as |feature|}}
        <div class="column">
          {{#tdi-card route='cities.city.features' 
                      modelContext=feature 
                      image=feature.splash
                      height=150}}
            {{feature.feature_name}}
          {{/tdi-card}}
        </div>
      {{else}}
        <h3 style="margin: 0 auto; color: rgba(0,0,0,0.44);">
          No Results
        </h3>
      {{/each}}
    </div>
  </div>
  <div class="ui tab" data-tab="investments">
    <div class="ui two column grid cards">
      {{#each (sort-by "value:desc" "project" visibleInvestments) as |investment|}}
        <div class="column">
          {{#tdi-card route='cities.city.investments' 
                      modelContext=investment 
                      image=investment.iconUrl
                      height=100}}
            ${{number-format investment.amount_estimated decimals=0}} - {{investment.project}}
          {{/tdi-card}}
        </div>
{{!--         {{#link-to 'cities.city.investments' investment class="column"}}
          <div class="ui fluid card">
            <div class="content">
              <div class="header">${{number-format investment.value decimals=0}}</div>
              <div class="meta">
                <a>{{investment.type}}</a>
              </div>
              <div class="description">
                {{investment.project}}
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                Opened
              </span>
              <span>
                <i class="user icon"></i>
                {{investment.activating}}
              </span>
            </div>
            {{#ui-progress value=investment.value total=maxInvestments class="ui bottom attached progress"}}
              <div class="bar"></div>
            {{/ui-progress}}
          </div>
        {{/link-to}} --}}
      {{else}}
        <h3 style="margin: 0 auto; color: rgba(0,0,0,0.44);">
          No Results
        </h3>
      {{/each}}
    </div>
  </div>
  <div class="ui tab segment" data-tab="parcels">
    {{#if showParcels}}
    {{/if}}
  </div>
</div>
