 <div class="ui container">
  <h1>View Data</h1>
  {{!-- {{pikaday-input value=cc.fake_open_or_closed onSelection=(action 'updateDate' target=cc)}} --}}

  <div class="ui labels">
    <a class="ui {{if cc.showFeatures 'inverted tdi-blue' 'filters-label'}} label" onclick={{action (mut cc.showFeatures) (not cc.showFeatures)}}>
      Features
    </a>
    <a class="ui {{if cc.showInvestments 'inverted tdi-blue' 'filters-label'}} label" onclick={{action (mut cc.showInvestments) (not cc.showInvestments)}}>
      Investments
    </a>
    <a class="ui {{if cc.showParcels 'inverted tdi-blue' 'filters-label'}} label" onclick={{action (mut cc.showParcels) (not cc.showParcels)}}>
      Parcels
    </a>
  </div>

  {{#if (and (not cc.showFeatures) (not cc.showInvestments) (not cc.showParcels))}}
    <h5 class="ui disabled header">
      <i class="ui reply rotated right icon"></i>
      <div class="content">
        Select a Filter Above
      </div>
    </h5>
  {{/if}}

  {{#ui-accordion}}
    {{#if cc.showFeatures}}
      <div class="tdi-semi-bold title">
        <i class="dropdown icon"></i>
        Features Filters
      </div>
      <div class="content">
        <div class="ui basic segment">
          <h4 class="ui header">Feature Status</h4>
          <div class="ui labels">
             <a class="ui {{if cc.is_employer 'inverted tdi-blue' 'filters-label'}} label" onclick={{action (mut cc.is_employer) (not cc.is_employer)}}>Is Employer</a> 
             <a class="ui {{if cc.is_street_activating 'inverted tdi-blue' 'filters-label'}} label" onclick={{action (mut cc.is_street_activating) (not cc.is_street_activating)}}>Is Street Activating</a> 
             <a class="ui {{if cc.is_tdi_asset 'inverted tdi-blue' 'filters-label'}} label" onclick={{action (mut cc.is_tdi_asset) (not cc.is_tdi_asset)}}>Is TDI Asset</a> 
             <a class="ui {{if cc.is_feature_owner_engaged 'inverted tdi-blue' 'filters-label'}} label" onclick={{action (mut cc.is_feature_owner_engaged) (not cc.is_feature_owner_engaged)}}>Is Owner Engaged</a> 
             <a class="ui {{if cc.is_collision_point 'inverted tdi-blue' 'filters-label'}} label" onclick={{action (mut cc.is_collision_point) (not cc.is_collision_point)}}>Is Collision Point</a> 
          </div>
        </div>
        <div class="ui basic segment">
          <h4 class="ui header">
            Feature Types
          </h4>
          <div class="ui equal width grid">
            {{#each (chunk 7 cc.assetTypeOptions) as |group|}}
              <div class="column">
                {{#each group as |option|}}
                  <div class="ui vertical list">
                    {{ui-checkbox 
                      label=option 
                      class="item"
                      checked=(array-contains cc.assetTypesArray option)
                      onChange=(action 'composeList' option 'assetTypes' target=cc)}}
                    </div>
                {{/each}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/if}}

    {{#if cc.showInvestments}}
      <div class="ui tdi-blue divider"></div>
      <div class="tdi-semi-bold title">
        <i class="dropdown icon"></i>
        Investments Filters
      </div>
      <div class="content">
        <div class="ui basic segment">
          <h4 class="ui header">
            Investment Types
          </h4>
          <div class="ui vertical list">
            {{#each cc.investmentTypeOptions as |option|}}
              
                {{ui-checkbox 
                  label=option 
                  class="item"
                  checked=(array-contains cc.investmentTypesArray option)
                  onChange=(action 'composeList' option 'investmentTypes' target=cc)}}
                
            {{/each}}
            </div>
          <h4 class="ui header">
            Investment Statuses
          </h4>
          <div class="ui horizontal list">
            {{#each cc.investmentStatusesOptions as |option|}}
              {{ui-checkbox 
                label=option 
                class="item"
                checked=(array-contains cc.investmentStatusesArray option)
                onChange=(action 'composeList' option 'investmentStatuses' target=cc)}}
            {{/each}}
          </div>
          <h4 class="ui header">
            Investment Source
          </h4>
          <div class="ui horizontal list">
            {{#each cc.investmentSourcesOptions as |option|}}
              {{ui-checkbox 
                label=option 
                class="item"
                checked=(array-contains cc.investmentSourcesArray option)
                onChange=(action 'composeList' option 'investmentSources' target=cc)}}
            {{/each}}
          </div>
          <h4 class="ui header">
            Investment Value
          </h4>
          <div class="ui basic segment">
            {{range-slider start=(array cc.valueMin cc.valueMax)
                           range=(hash min=cc.amountsMin max=cc.amountsMax)
                           tooltips=cc.tooltipsConfig
                           connect=true
                           step=1
                           on-change=(action "updateRanges" target=cc)
            }}
          </div>
        </div>
      </div>
    {{/if}}

    {{#if cc.showParcels}}
      <div class="ui tdi-blue divider"></div>
      <div class="tdi-semi-bold title">
        <i class="dropdown icon"></i>
        Parcels Filters
      </div>
      <div class="content">
        <h4 class="ui header">Symbolize Map</h4>
        <div class="ui labels">
          {{#each cc.parcelChoroplethSets as |colorSet|}}
            <a class="ui {{if (eq colorSet cc.choroplethLayer) 'inverted tdi-blue' 'filters-label'}} label" {{action 'changeProperty' 'choroplethLayer' colorSet target=cc}}>
              {{colorSet}}
            </a> 
          {{/each}}
        </div>
        <h4 class="ui header">
          Tenure Status
        </h4>
        <div class="ui horizontal list">
          {{ui-checkbox label="For Lease" class="item" checked=cc.forLease onChange=(action (mut cc.forLease) target=cc)}}
          {{ui-checkbox label="For Sale" class="item" checked=cc.forSale onChange=(action (mut cc.forSale) target=cc)}}
        </div>
        <h4 class="ui header">
          Land Use Type
        </h4>
        <div class="ui horizontal list">
          {{#each cc.landuseTypeOptions as |option|}}
            {{ui-checkbox 
              label=(if (eq option '1') 'Residential' (if (eq option '3') 'Commercial' (if (eq option '4') 'Industrial' (if (eq option '9') 'Public'))))  
              class="item"
              checked=(array-contains cc.landuseTypesArray option)
              onChange=(action 'composeList' option 'landuseTypes' target=cc)}}
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{/ui-accordion}}


  {{tabbed-results  visibleFeatures     = cc.visibleFeatures 
                    showFeatures        = cc.showFeatures
                    visibleInvestments  = cc.visibleInvestments
                    showInvestments     = cc.showInvestments 
                    maxInvestments      = cc.maxInvestments   }}
</div>
