 <div class="ui container">
  <h1>{{currentCity.city.name}}</h1>

  <h4 class="ui header left floated">Add to Map:</h4>
  <div class="ui three item menu">
    <div class="ui item">
      {{ui-checkbox label="Features" checked=cc.showFeatures onChange=(action (mut cc.showFeatures))}}
    </div>
    <div class="ui item">
      {{ui-checkbox label="Investments" checked=cc.showInvestments onChange=(action (mut cc.showInvestments))}}
    </div>
    <div class="ui item">
      {{ui-checkbox label="Parcels" checked=cc.showParcels onChange=(action (mut cc.showParcels))}}
    </div>
  </div>

  {{#if (and (not cc.showFeatures) (not cc.showInvestments) (not cc.showParcels))}}
    <h4 style="margin: 0 auto; color: rgba(0,0,0,0.44);">
      Select a Filter Above
    </h4>
  {{/if}}

  {{#if cc.showFeatures}}
    <h4 class="ui horizontal divider header">
      <i class="anchor icon"></i>
      Features Filters
    </h4>
    <div class="ui segment">
      <div class="ui top attached label">Types</div>
      <div class="ui horizontal list">
        {{#each cc.assetTypeOptions as |option|}}
          {{ui-checkbox 
            label=option 
            class="item"
            checked=(array-contains cc.assetTypesArray option)
            onChange=(action 'composeList' option 'assetTypes' target=cc)}}
        {{/each}}
      </div>
    </div>
    <div class="ui segment">
      <div class="ui top attached label">Other Categories</div>
      <div class="ui horizontal list">
        {{ui-checkbox label="Activating" class="item" checked=cc.activating onChange=(action (mut cc.activating))}}
        {{ui-checkbox label="Open" class="item" checked=cc.featureOpen onChange=(action (mut cc.featureOpen))}}
      </div>
    </div>
  {{/if}}

  {{#if cc.showInvestments}}
    <h4 class="ui horizontal divider header">
      <i class="dollar icon"></i>
      Investments Filters
    </h4>
    <div class="ui segment">
      <div class="ui top attached label">Types</div>
      <div class="ui horizontal list">
        {{#each cc.investmentTypeOptions as |option|}}
          {{ui-checkbox 
            label=option 
            class="item"
            checked=(array-contains cc.investmentTypesArray option)
            onChange=(action 'composeList' option 'investmentTypes' target=cc)}}
        {{/each}}
      </div>
      <div class="ui divider"></div>
        Investment Value:
        <div class="ui basic segment">
          {{range-slider start=(array cc.valueMin cc.valueMax)
                         range=(hash min=1 max=200000000)
                         tooltips=cc.tooltipsConfig
                         connect=true
                         step=1
                         on-change=(action "updateRanges" target=cc)
          }}
        </div>
    </div>
  {{/if}}

  {{#if cc.showParcels}}
    <h4 class="ui horizontal divider header">
      <i class="block layout icon"></i>
      Parcels Filters
    </h4>
    <div class="ui segment">
      <div class="ui top attached label">Other Categories</div>
      <div class="ui horizontal list">
        {{ui-checkbox label="For Lease" class="item" checked=cc.forLease onChange=(action (mut forLease) target=cc)}}
        {{ui-checkbox label="For Sale" class="item" checked=cc.forSale onChange=(action (mut forSale) target=cc)}}
      </div>
    </div>
    <div class="ui segment">
      <div class="ui top attached label">Land Use Types</div>
      <div class="ui horizontal list">
        {{#each cc.landuseTypeOptions as |option|}}
          {{ui-checkbox 
            label=option  
            class="item"
            checked=(array-contains cc.landuseTypesArray option)
            onChange=(action 'composeList' option 'landuseTypes' target=cc)}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{tabbed-results  visibleFeatures     = cc.visibleFeatures 
                    showFeatures        = cc.showFeatures
                    visibleInvestments  = cc.visibleInvestments
                    showInvestments     = cc.showInvestments 
                    maxInvestments      = cc.maxInvestments   }}
</div>
