<div class="investments">
  <h2 class="ui header">
    <i class="dollar icon"></i>
    <div class="content">
      {{model.name}}
      <div class="sub header">{{model.assetType}}</div>
    </div>
  </h2>

  {{#edit-resource model=model as |field|}}
    {{field.form.text-field "name"}}
    {{field.form.text-field "address"}}
    {{field.form.text-field "contact"}}
    {{field.form.checkbox-field "activating"}}
    {{field.form.text-field "value"}}

    {{field.form.text-field "project"}}
    {{field.form.checkbox-field "is_addressy"}}
    {{field.form.text-field "non_addressy_location"}}
    {{field.form.text-field "source_type"}}
    {{field.form.checkbox-field "is_tdi_influenced"}}
    {{field.form.text-field "investment_type"}}
    {{field.form.text-field "product_massdev"}}
    {{field.form.text-field "product_public"}}
    {{field.form.text-field "product_private"}}
    {{field.form.checkbox-field "is_amount_known"}}
    {{field.form.checkbox-field "is_amount_estimated"}}
    {{field.form.checkbox-field "is_amount_public"}}
    {{field.form.text-field "amount_exact"}}
    {{field.form.text-field "amount_estimated"}}
    {{field.form.text-field "investment_status"}}
    {{field.form.checkbox-field "is_close_date_approx"}}
    {{field.form.text-field "featured_photo"}}
    {{field.form.text-field "pub_docs"}}
    {{field.form.text-field "priv_docs"}}
    {{field.form.text-field "related_link_title"}}
    {{field.form.text-field "related_link_url"}}
    {{field.form.text-field "relation_notes"}}
    {{field.form.text-field "priv_notes"}}
    {{field.form.text-field "pub_notes"}}
    {{field.form.text-field "cta_text"}}
    {{field.form.text-field "cta_contact"}}

    {{field.form.text-field "priv_contact_name"}}
    {{#liquid-if model.priv_contact_name}}
      {{field.form.text-field "priv_contact_organization"}}
      {{field.form.text-field "priv_contact_role"}}
      {{field.form.text-field "priv_contact_phone"}}
      {{field.form.text-field "priv_contact_email"}}
      {{field.form.text-field "priv_contact_website"}}
    {{/liquid-if}}

    {{field.form.text-field "pub_contact_1"}}
    {{#liquid-if model.pub_contact_1}}
      {{field.form.text-field "pub_contact_org_1"}}
      {{field.form.text-field "pub_contact_role_1"}}
      {{field.form.text-field "pub_contact_phone_1"}}
      {{field.form.text-field "pub_contact_email_1"}}
      {{field.form.text-field "pub_contact_website_1"}}
    {{/liquid-if}}

    {{field.form.text-field "pub_contact_2"}}
    {{#liquid-if model.pub_contact_2}}
      {{field.form.text-field "pub_contact_org_2"}}
      {{field.form.text-field "pub_contact_role_2"}}
      {{field.form.text-field "pub_contact_phone_2"}}
      {{field.form.text-field "pub_contact_email_2"}}
      {{field.form.text-field "pub_contact_website_2"}}
    {{/liquid-if}}

    {{field.form.select-field "type" field.investmentTypes}}
  {{/edit-resource}}
</div>
