<h2 class="ui header">
  <i class="dollar icon"></i>
  <div class="content">
    {{model.name}}
    <div class="sub header">{{model.assetType}}</div>
  </div>
</h2>

{{#edit-resource model=model as |field|}}
  {{field.text-field "name"}}
  {{field.text-field "address"}}
  {{field.text-field "contact"}}
  {{field.checkbox-field "activating"}}
  {{field.text-field "value"}}
  {{field.select-field "type" field.investmentTypes}}
{{/edit-resource}}
