<div class="ui grid detail-full-height">
  <div class="six wide column detail-full-screen ui segment">
    {{link-to '' 'cities.city.features' model class='large arrow left has-pointer icon' tagName='i'}}
    {{#form-for model as |f|}}
      {{f.text-field "name"}}
      {{f.text-field "address"}}
      {{f.text-field "contact"}}
      {{f.checkbox-field "employer"}}
      {{f.checkbox-field "activating"}}

      {{!-- these options should be pulled in from the model.. --}}
      {{f.select-field "assetType" assetTypes}}

      {{f.submit}}
    {{/form-for}}
  </div>
</div>