<div class="parcels">
  <h2 class="ui header">
    <img class="ui bordered circular image" src={{model.splash}}/>
    <div class="content">
      {{model.name}}
      <div class="sub header">{{model.assetType}}</div>
    </div>
  </h2>

  {{#edit-resource model=model as |field|}}
    {{field.form.text-field "name"}}
    {{field.form.text-field "address"}}
    {{field.form.text-field "contact"}}
    {{field.form.checkbox-field "employer"}}
    {{field.form.checkbox-field "activating"}}

    {{field.form.text-field "ownership_type"}}
    {{field.form.checkbox-field "is_engaged_owner"}}
    {{field.form.text-field "land_use"}}
    {{field.form.text-field "zoning"}}
    {{field.form.text-field "parcel_id"}}
    {{field.form.text-field "own_contact_name"}}
    {{field.form.text-field "own_contact_role"}}
    {{field.form.text-field "own_contact_organization"}}
    {{field.form.text-field "own_contact_phone"}}
    {{field.form.text-field "own_contact_email"}}
    {{field.form.text-field "priv_contact_name"}}
    {{field.form.text-field "priv_contact_organization"}}
    {{field.form.text-field "priv_contact_role"}}
    {{field.form.text-field "priv_contact_phone"}}
    {{field.form.text-field "priv_contact_email"}}
    {{field.form.text-field "priv_contact_website"}}
    {{field.form.text-field "priv_notes"}}
    {{field.form.text-field "pub_notes"}}
    {{field.form.text-field "cta_text"}}
    {{field.form.text-field "cta_contact"}}
    {{field.form.text-field "pub_contact_1"}}
    {{field.form.text-field "pub_contact_org_1"}}
    {{field.form.text-field "pub_contact_role_1"}}
    {{field.form.text-field "pub_contact_phone_1"}}
    {{field.form.text-field "pub_contact_email_1"}}
    {{field.form.text-field "pub_contact_website_1"}}
    {{field.form.text-field "pub_contact_2"}}
    {{field.form.text-field "pub_contact_org_2"}}
    {{field.form.text-field "pub_contact_role_2"}}
    {{field.form.text-field "pub_contact_phone_2"}}
    {{field.form.text-field "pub_contact_email_2"}}
    {{field.form.text-field "pub_contact_website_2"}}
  {{/edit-resource}}
</div>
