{{#liquid-bind model use="toLeft" class="investments" as |currentModel|}}
  <div class="investments">
    <h2 class="ui header">
      <i class="dollar icon"></i>
      <div class="content">
        {{model.project}}
        <div class="sub header">{{model.type}}</div>
      </div>
    </h2>

    {{#edit-resource model=model as |field|}}
      <form class="ui form">
        <div class="ui dividing header">
          Add Investment
        </div>
        <div class="field">
          <label>Add project name</label>
          {{input type='text' name='name' value=model.project}}
        </div>
        <div class="ui dividing header">
          Location
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ui-checkbox class="toggle" 
                          label="Is this feature locatable at a single address or small range of addresses?" 
                          checked=model.is_addressy 
                          onChange=(action (mut model.is_addressy))}}
          </div>
        </div>

        {{#liquid-if model.is_addressy}}
          <div class="field">
            <label>Address Number</label>
            {{input type='text' name='name' value=address_number}}
          </div>
          <div class="field">
            <label>Street Name</label>
            {{input type='text' name='name' value=street_name}}
          </div>
          <div class="field">
            <label>Street Suffix</label>
            {{input type='text' name='name' value=street_suffix}}
          </div>
        {{else}}
          <div class="field">
            <label>Describe the location (street intersection, etc.)</label>
            {{input type='text' name='name' value=model.non_addressy_location}}
          </div>
        {{/liquid-if}}
        <div class="ui dividing header">
          Attributes
        </div>
        <div class="field">
          <label>Add an investment status as needed.</label>
          {{timeline-builder snapshots=model.open_or_closed choices=(array 'Proposed' 'In Progress' 'Completed' 'Failed')}}
        </div>
        <div class="field">
          <label>Which type of investment is this?</label>
          {{#ui-dropdown class="selection" selected=model.type onChange=(action (mut model.type))}}
            <div class="default text">Select the investment type</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each field.investmentTypes as |type|}}
                <div class="item" data-value="{{type}}">
                  {{type}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="field">
          <label>Select the source of funding for this project.</label>
          {{log field.investmentSources}}
          {{#ui-dropdown class="selection" selected=model.source_type onChange=(action (mut model.source_type))}}
            <div class="default text">Select the investment soiurce</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each field.investmentSources as |type|}}
                <div class="item" data-value="{{type}}">
                  {{type}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ui-checkbox class="toggle" 
                          label="Is this investment influenced by the TDI program?" 
                          checked=model.is_tdi_influenced 
                          onChange=(action (mut model.is_tdi_influenced))}}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ui-checkbox class="toggle" 
                          label="Is the investment amount known or can it be estimated?" 
                          checked=model.is_amount_known 
                          onChange=(action (mut model.is_amount_known))}}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ui-checkbox class="toggle" 
                          label="Is this investment amount estimated?" 
                          checked=model.is_amount_estimated 
                          onChange=(action (mut model.is_amount_estimated))}}
          </div>
        </div>
        {{#if model.is_amount_estimated}}
          <div class="field">
            <label>Enter an estimated investment amount (numbers only).</label>
            {{input type='text' name='name' value=model.amount_estimated}}
          </div>
        {{else}}
          <div class="field">
            <label>Enter the exact investment amount.</label>
            {{input type='text' name='name' value=model.amount_exact}}
          </div>
        {{/if}}
        <div class="field">
          <div class="ui checkbox">
            {{ui-checkbox class="toggle" 
                          label="Can the investment amount be publicly shared?" 
                          checked=model.is_amount_public 
                          onChange=(action (mut model.is_amount_public))}}
          </div>
        </div>
        <div class="ui dividing header">
          Documents and Links
        </div>
        <div class="field">
          <label>Add an illustrative photo of this feature.</label>
          {{file-field-progress}}
        </div>

        <div class="field">
          <label>Add any related documents. These are publicly visible.</label>
          {{file-field-progress}}
        </div>

        <div class="field">
          <label>Add any related documents. These are not publicly visible.</label>
          {{file-field-progress}}
        </div>

        <div class="field">
          <label>Enter the URL for any related website.</label>
          {{input type='text' name='name' value=model.related_link_url}}
        </div>

        <div class="field">
          <label>Enter a label for this related website.</label>
          {{input type='text' name='name' value=model.related_link_title}}
        </div>
      </form>
    {{/edit-resource}}
  </div>
{{/liquid-bind}}