<div class="features ui basic">
  <h2 class="ui header">
    <img class="ui circular image" src={{model.splash}}/>
    <div class="content">
      {{model.name}}
      <div class="sub header">{{model.assetType}}</div>
    </div>
  </h2>

  {{#edit-resource model=model as |field|}}
    {{field.form.text-field "name"}}
    {{field.form.text-field "address"}}
    {{field.form.text-field "contact"}}

    {{field.form.text-field "is_addressy"}}
    {{field.form.text-field "non_addressy_location"}}
    {{field.form.checkbox-field "employer"}}
    {{field.form.checkbox-field "activating"}}
    {{field.form.checkbox-field "is_tdi_assett"}}
    {{field.form.checkbox-field "open_or_closed"}}
    {{field.form.text-field "featured_photo"}}
    {{field.form.text-field "pub_docs"}}
    {{field.form.text-field "priv_docs"}}
    {{field.form.text-field "related_link_title"}}
    {{field.form.text-field "related_link_url"}}
    {{field.form.text-field "relation_notes"}}
    {{field.form.checkbox-field "is_feature_owner_engaged"}}
    {{field.form.text-field "priv_notes"}}
    {{field.form.text-field "pub_notes"}}
    {{field.form.text-field "cta_text"}}
    {{field.form.text-field "cta_contact"}}

    {{field.form.text-field "priv_contact_name"}}
    {{#liquid-if model.priv_contact_name}}
      {{field.form.text-field "priv_contact_organization"}}
      {{field.form.text-field "priv_contact_role"}}
      {{field.form.text-field "priv_contact_phone"}}
      {{field.form.text-field "priv_contact_email"}}
      {{field.form.text-field "priv_contact_website"}}
    {{/liquid-if}}

    {{field.form.text-field "pub_contact_1"}}
    {{#liquid-if model.pub_contact_1}}
      {{field.form.text-field "pub_contact_org_1"}}
      {{field.form.text-field "pub_contact_role_1"}}
      {{field.form.text-field "pub_contact_phone_1"}}
      {{field.form.text-field "pub_contact_email_1"}}
      {{field.form.text-field "pub_contact_website_1"}}
    {{/liquid-if}}

    {{field.form.text-field "pub_contact_2"}}
    {{#liquid-if model.pub_contact_2}}
      {{field.form.text-field "pub_contact_org_2"}}
      {{field.form.text-field "pub_contact_role_2"}}
      {{field.form.text-field "pub_contact_phone_2"}}
      {{field.form.text-field "pub_contact_email_2"}}
      {{field.form.text-field "pub_contact_website_2"}}
    {{/liquid-if}}
    {{field.form.checkbox-field "is_collision_point"}}

    {{field.form.select-field "assetType" field.assetTypes}}
  {{/edit-resource}}


  <h3>Related Investments</h3>

  {{select-association 
      selected=model.investments 
      modelName='investment' 
      placeholder="Search for an investment"
      searchField='name'}}
  <div class="ui form">
    <div class="field">
      {{textarea value=model.relatedInvestmentsDescription placeholder='Describe these relationships a bit'}}
    </div>
  </div>

  <h3>Related Features</h3>
  {{select-association
      selected=model.relatedFeatures
      modelName='feature'
      placeholder="Search for a feature"
      searchField='name'}}
  <div class="ui form">
    <div class="field">
      {{textarea value=model.relatedFeaturesDescription placeholder='Describe these relationships a bit'}}
    </div>
  </div>
</div>
