{{#liquid-bind model use="toLeft" class="features" as |currentModel|}}
  <h2 class="ui header">
    <img class="ui circular image" style="min-height: 60px;" src={{model.splash}}/>
    <div class="content">
      {{model.name}}
      <div class="sub header">{{model.assetType}}</div>
    </div>
  </h2>
  {{enumerate-properties 
    model=model
    properties=(array 'name' 'address' 'contact' 'employer' 'activating' 'assetType' 'subtype' 'comment' 'opendate' 'closedate')}}

  <h3>Related</h3>
  {{tabbed-results  visibleInvestments  = model.investments
                    showInvestments     = true   
                    visibleFeatures     = model.relatedFeatures
                    showFeatures        = true          }}


  {{resource-nav-menu 
    session=session 
    routeSegment='edit-feature'
    model=model}}
{{/liquid-bind}}
