{{#liquid-bind model use="toLeft" class="features" as |currentModel|}}
  <h2 class="ui header">
    <img class="ui circular image" style="min-height: 60px;" src={{model.splash}}/>
    <div class="content">
      {{model.feature_name}}
      <div class="sub header">{{model.feature_type}}</div>
    </div>
  </h2>

  <div class="ui green segment">
    <strong>
      Want to learn more about {{if model.feature_name model.feature_name 'this place'}}? 
    </strong>
    {{#if model.cta_contact}}
      Contact {{model.cta_contact}}.
    {{else}}
      Contact MassDevelopment.
    {{/if}}
    <p>
      {{model.cta_text}}
    </p>
  </div>

  {{enumerate-properties 
    model=model
    properties=(array 'feature_subtype' 'is_employer' 'is_street_activating' 'is_tdi_asset' 'priv_contact_name' 'priv_contact_organization' 'priv_contact_role' 'priv_contact_phone' 'priv_contact_email' 'priv_contact_website' 'priv_notes' 'pub_notes' 'cta_text' 'cta_contact' )}}

  <h3>Related</h3>
  {{tabbed-results  visibleInvestments  = model.investments
                    showInvestments     = true   
                    visibleFeatures     = model.relatedFeatures
                    showFeatures        = true          }}


  {{resource-nav-menu 
    session=session 
    routeSegment='edit-feature'
    model=model}}
{{/liquid-bind}}
