To learn more about
<h2 class="ui header">{{model.city.name}}</h2>
contact {{model.city.cta_contact}} at {{model.city.cta_contact_org}}.
<div class="ui list">
  <div class="item">{{model.city.cta_contact_org}}</div>
  <div class="item">{{model.city.cta_contact_role}}</div>
  <div class="item">{{model.city.cta_contact_phone}}</div>
  <div class="item">{{model.city.cta_contact_email}}</div>
</div>
<p>
  {{model.city.cta_text}}
</p>
