<h1>Create a new feature</h1>
{{#edit-resource model=model as |field|}}
  {{field.form.text-field "name"}}
  {{field.form.text-field "address"}}
  {{field.form.text-field "contact"}}
  {{field.form.checkbox-field "employer"}}
  {{field.form.checkbox-field "activating"}}

  {{!-- these options should be pulled in from the model.. --}}
  {{field.form.select-field "assetType" field.assetTypes}}
{{/edit-resource}}
