{{#liquid-bind model use="toLeft" class="parcels" as |currentModel|}}
  <div class="parcels">
    <h2 class="ui header">
      <img class="ui bordered circular image" style="min-height: 60px;" src={{model.splash}}/>
      <div class="content">
        {{model.name}}
        <div class="sub header">{{model.type}}</div>
      </div>
    </h2>
    {{enumerate-properties 
      model=model
      properties=(array 'name' 'value' 'contact' 'employer' 'activating' 'assetType' 'subtype' 'comment' 'opendate' 'closedate' 'ownership_type' 'is_engaged_owner' 'land_use' 'zoning' 'parcel_id' 'is_for_sale' 'is_for_lease' 'year_built' 'is_vacant_lot' 'ground_floor_vacancy' 'upper_floor_vacancy' 'own_contact_name' 'own_contact_role' 'own_contact_organization' 'own_contact_phone' 'own_contact_email' 'pub_notes' 'cta_text' 'cta_contact' 'pub_contact_1' 'pub_contact_org_1' 'pub_contact_role_1' 'pub_contact_phone_1' 'pub_contact_email_1' 'pub_contact_website_1' 'pub_contact_2' 'pub_contact_org_2' 'pub_contact_role_2' 'pub_contact_phone_2' 'pub_contact_email_2' 'pub_contact_website_2'
    )}}
    {{resource-nav-menu 
      session=session 
      routeSegment='edit-parcel'
      model=model}}
  </div>
{{/liquid-bind}}
