<nav>
  <div class="logo">
    {{#link-to 'index'}}Home | {{/link-to}}
    {{#link-to 'cities' class="cities-link"}}Cities >{{/link-to}}
  </div>
    {{#each model as |city|}}
      {{#link-to 'cities.city.details' city class="city menu"}}
        {{city.name}}
      {{/link-to}}
    {{/each}}

    |

    {{link-to 'Add Feature' 'cities.city.features.create' class='item'}}

    |

  <div class="menu">
    {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}}>Logout</a>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}
  </div>
</nav>
<main>
  {{outlet}}
</main>