<nav>
  <div class="logo">
    {{#link-to 'cities' class="cities-link"}}Cities >{{/link-to}}
  </div>
    {{#each model as |city|}}
      {{#link-to 'cities.city.details' city.id class="city menu"}}
        {{city.name}}
      {{/link-to}}
    {{/each}}
  <div class="menu">
    {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}}>Logout</a>
    {{else}}
      {{link-to 'Login' 'login' class='login-link'}}
    {{/if}}
  </div>
</nav>
<main>
  {{outlet}}
</main>
