<div class="cities ui grid">
  <div class="list-results six wide column" id="sidebar">
    <div class="filters">
      <h1>{{currentCity.city.name}}</h1>
      <h4 class="ui header left floated">Filter By</h4>
      <div class="ui three item menu">
        <div class="ui item">
          {{ui-checkbox label="Amenities" checked=showFeatures onChange=(action (mut showFeatures))}}
        </div>
        <div class="ui item">
          {{ui-checkbox label="Investments" checked=showInvestments onChange=(action (mut showInvestments))}}
        </div>
        <div class="ui item">
          {{ui-checkbox label="Opportunities" checked=showParcels onChange=(action (mut showParcels))}}
        </div>
      </div>

        {{#if showFeatures}}
          <h4 class="ui horizontal divider header">
            <i class="anchor icon"></i>
            Features Filters
          </h4>
          <div class="ui segment">
            <div class="ui top attached label">Types</div>
            <div class="ui horizontal list">
              {{#each assetTypeOptions as |option|}}
                {{ui-checkbox 
                  label=option 
                  class="item"
                  checked=(array-contains assetTypesArray option)
                  onChange=(action 'composeList' option 'assetTypes')}}
              {{/each}}
            </div>
          </div>
          <div class="ui segment">
            <div class="ui top attached label">Other Categories</div>
            <div class="ui horizontal list">
              {{ui-checkbox label="Activating" class="item" checked=activating onChange=(action (mut activating))}}
              {{ui-checkbox label="Open" class="item" checked=featureOpen onChange=(action (mut featureOpen))}}
            </div>
          </div>
        {{/if}}

        {{#if showInvestments}}
          <h4 class="ui horizontal divider header">
            <i class="dollar icon"></i>
            Investments Filters
          </h4>
          <div class="ui segment">
            <div class="ui top attached label">Types</div>
            <div class="ui horizontal list">
              {{#each investmentTypeOptions as |option|}}
                {{ui-checkbox 
                  label=option 
                  class="item"
                  checked=(array-contains investmentTypesArray option)
                  onChange=(action 'composeList' option 'investmentTypes')}}
              {{/each}}
            </div>
            <div class="ui divider"></div>
              Investment Value:
              <div class="ui basic segment">
                {{range-slider start=(array valueMin valueMax)
                               range=(hash min=1 max=200000000)
                               tooltips=tooltipsConfig
                               connect=true
                               step=1
                               on-change="updateRanges"
                }}
              </div>
          </div>
        {{/if}}

        {{#if showParcels}}
          <h4 class="ui horizontal divider header">
            <i class="block layout icon"></i>
            Parcels Filters
          </h4>
          <div class="ui segment">
            <div class="ui top attached label">Other Categories</div>
            <div class="ui horizontal list">
              {{ui-checkbox label="For Lease" class="item" checked=forLease onChange=(action (mut forLease))}}
              {{ui-checkbox label="For Sale" class="item" checked=forSale onChange=(action (mut forSale))}}
            </div>
          </div>
          <div class="ui segment">
            <div class="ui top attached label">Land Use Types</div>
            <div class="ui horizontal list">
              {{#each landuseTypeOptions as |option|}}
                {{ui-checkbox 
                  label=option  
                  class="item"
                  checked=(array-contains landuseTypesArray option)
                  onChange=(action 'composeList' option 'landuseTypes')}}
              {{/each}}
            </div>
          </div>
        {{/if}}
    </div>
    <div class="city-details">
      {{outlet}}
    </div>
  </div>
  <div class="map-results ten wide column">
    <div class="ui menu choropleth-menu">
      {{#if showParcels}}
        {{#each parcelChoroplethSets as |colorSet|}}
          <a class="item" {{action 'changeProperty' 'choroplethLayer' colorSet}}>
            {{colorSet}}
          </a>
        {{/each}}
      {{/if}}
    </div>
    <div class="cities-map">
      {{#leaflet-map as |layers|}}
        {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

        {{#marker-cluster-layer}}
          {{#if showFeatures}}
            {{#each visibleFeatures as |feature|}}
              {{#if feature.latitude}}
                {{marker-layer lat=feature.latitude lng=feature.longitude opacity=0.5 onClick=(action 'linkTo' 'cities.city.features' feature)}}
              {{/if}}
            {{/each}}
          {{/if}}

          {{#if showInvestments}}
            {{#each visibleInvestments as |investment|}}
              {{#if investment.latitude}}
                {{marker-layer lat=investment.latitude lng=investment.longitude opacity=0.5 onClick=(action 'linkTo' 'cities.city.investments' investment)}}
              {{/if}}
            {{/each}}
          {{/if}}
        {{/marker-cluster-layer}}

        {{#if showParcels}}
          {{#each visibleParcels as |parcel|}}
            {{#if parcel.geom}}
              {{geojson-layer geoJSON=parcel.geojson style=parcelsChoroplethMapping onClick=(action 'linkTo' 'cities.city.parcels' parcel)}}
            {{/if}}
          {{/each}}
        {{/if}}

        {{#each model as |city|}}
          {{#marker-layer lat=city.latitude lng=city.longitude onClick=(action 'selectCity' city)}}
          {{/marker-layer}}
        {{/each}}
      {{/leaflet-map}}
    </div>
  </div>
</div>
{{#ui-modal name="feature" class="feature" as |modal|}}
  <i class="close icon"></i>
  <div class="header">
    {{currentFeature.name}}
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="{{currentFeature.splash}}">
    </div>
    <div class="description">
      <div class="ui header">{{currentFeature.assetType}} - {{currentFeature.subtype}}</div>
      <p>{{currentFeature.comment}}</p>
      <p>{{currentFeature.address}}</p>
      <p>Is Activating? {{currentFeature.activating}}</p>
      {{#if (and currentFeature.latitude currentFeature.longitude)}}
        <div class="ui segment" style="height: 200px; min-width: 200px;">
{{!--           {{#leaflet-map lat=currentFeature.latitude lng=currentFeature.longitude zoom=18}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
            {{marker-layer lat=currentFeature.latitude lng=currentFeature.longitude}}
          {{/leaflet-map}} --}}
        </div>
      {{/if}}
    </div>
  </div>
  {{#if session.isAuthenticated}}
    <div class="actions">
      <div class="ui black deny button">
        Edit
      </div>
      <div class="ui positive right labeled icon button">
        Delete
        <i class="checkmark icon"></i>
      </div>
    </div>
  {{/if}}
{{/ui-modal}}