<div class="cities ui grid">
  <div class="list-results ui segment five wide column" id="sidebar">
    <div class="city-details">
      {{outlet}}
    </div>
  </div>
  <div class="map-results {{if (not hideSidebar) 'eleven'}}{{if hideSidebar 'sixteen'}} wide column" style="padding: 0 !important; height:100%;">
    <div class="cities-map">
      <i class="large circular white {{if (not hideSidebar) 'remove'}} link icon sidebar-tab {{if hideSidebar 'right arrow'}}" onclick={{action 'toggleSidebar'}} style="background-color:white"></i>

      <div class="ui horizontal list basemap-menu">
        <div class="item has-pointer" onclick={{action (mut basemap) 'default'}}>
          <img src="http://c.basemaps.cartocdn.com/light_all/{{layerPointz}}/{{layerPointx}}/{{layerPointy}}.png" class="ui mini circular bordered image"/>
          <div class="content">
            <div class="header">Default</div>
          </div>
        </div>
        <div class="item has-pointer" onclick={{action (mut basemap) 'osm'}}>
          <img src="https://a.tile.openstreetmap.org/{{layerPointz}}/{{layerPointx}}/{{layerPointy}}.png" class="ui mini circular bordered image"/>
          <div class="content">
            <div class="header">OSM</div>
          </div>
        </div>
        <div class="item has-pointer" onclick={{action (mut basemap) 'satellite'}}>
          <img src="https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{{layerPointz}}/{{layerPointy}}/{{layerPointx}}" class="ui mini circular bordered image"/>
          <div class="content">
            <div class="header">Satellite</div>
          </div>
        </div>
      </div>

      {{#leaflet-map  onMove    = (action 'updateNewPoint'  ) 
                      onMoveend = (action 'currentMapState' ) 
                      onLoad    = (action 'initMap'         ) as |layers|}}

        {{#if (eq basemap 'default')}}
          {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
        {{/if}}
        {{#if (eq basemap 'osm')}}
          {{tile-layer url='https://a.tile.openstreetmap.org/{z}/{x}/{y}.png'}}
        {{/if}}
        {{#if (eq basemap 'satellite')}}
          {{tile-layer url='https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'}}
        {{/if}}

        {{#if currentCity.isPlottingPoint}}
          {{marker-layer lat=currentCity.newPointLatitude lng=currentCity.newPointLongitude}}
        {{/if}}

        {{#each model as |city|}}
          {{#marker-layer lat=city.latitude lng=city.longitude onClick=(action 'selectCity' city)}}
          {{/marker-layer}}
          {{image-layer pane='extrusions' imageUrl=city.imageOverlay bounds=city.imageOverlayBBox opacity=0.9}}
        {{/each}}

        {{!-- {{#marker-cluster-layer}} --}}
          {{#if showFeatures}}
            {{#each visibleFeatures as |feature|}}
              {{#if (and feature.latitude feature.id)}}
                {{#map-popup lat=feature.latitude lng=feature.longitude as |popup|}}
                  <img class="ui small image" src={{feature.splash}}/>
                  <strong>{{feature.name}}</strong>
                  {{#circle-marker-layer  lat=feature.latitude 
                                  lng=feature.longitude 
                                  fill=true
                                  fillOpacity=0.9
                                  stroke=feature.isSelected
                                  color='black'
                                  weight=3
                                  opacity=0.3
                                  radius=(if feature.isSelected 10 6)
                                  fillColor='#5CA2D1'
                                  onClick=(action 'linkTo' 'cities.city.features' feature)
                                  onMouseover=(action popup.onMouseover)
                                  onMouseout=(action popup.onMouseout)
                                  pane='points'}}
                  {{/circle-marker-layer}}
                {{/map-popup}}
              {{/if}}
            {{/each}}
          {{/if}}
        {{!-- {{/marker-cluster-layer}} --}}

        {{!-- {{#marker-cluster-layer}} --}}
          {{#if showInvestments}}
            {{#each visibleInvestments as |investment|}}
              {{#if (and investment.latitude investment.id)}}
                {{#map-popup lat=feature.latitude lng=feature.longitude as |popup|}}
                  <img class="ui small image" src={{investment.splash}}/>
                  <strong>{{investment.name}}</strong>
                  {{circle-marker-layer  
                                  lat=investment.latitude 
                                  lng=investment.longitude 
                                  fill=true
                                  fillOpacity=0.9
                                  stroke=investment.isSelected
                                  color='black'
                                  weight=3
                                  opacity=0.3
                                  radius=(if investment.isSelected 10 6)
                                  fillColor='#A53ED5'
                                  onClick=(action 'linkTo' 'cities.city.investments' investment)
                                  onMouseover=(action popup.onMouseover)
                                  onMouseout=(action popup.onMouseout)
                                  pane='points'}}
                {{/map-popup}}
              {{/if}}
            {{/each}}
          {{/if}}
        {{!-- {{/marker-cluster-layer}} --}}

        {{#if showParcels}}
          {{#each visibleParcels as |parcel|}}
            {{#if parcel.geom}}
              {{geojson-layer geoJSON=parcel.geojson 
                              style=parcelsChoroplethMapping 
                              onClick=(action 'linkTo' 'cities.city.parcels' parcel)
                              pane='parcels'}}
              {{#if parcel.isSelected}}
                {{marker-layer lat=parcel.latitude lng=parcel.longitude opacity=1}}
              {{/if}}
            {{/if}}
          {{/each}}
        {{/if}}


      {{/leaflet-map}}
      <div class="ui links fluid menu">
        {{#each featuresOpenDates as |date|}}
          <a class="item {{if (eq fake_open_or_closed date.date) 'active'}}" onclick={{action 'updateDate' date.date}}>{{date.alias}}</a>
        {{/each}}
      </div>
{{!--       {{(group-by (map-by featuresOpenDates 'key') '')}}
      {{over-time-chart dates=featuresOpenDates selection=fake_open_or_closed}} --}}
    </div>
  </div>
</div>
