<div class="cities ui grid">
  <div class="list-results six wide column" id="sidebar">
    <div class="city-details">
      {{outlet}}
    </div>
  </div>
  <div class="map-results ten wide column">
    <div class="ui menu choropleth-menu">
      {{#if showParcels}}
        {{#each parcelChoroplethSets as |colorSet|}}
          <a class="item" {{action 'changeProperty' 'choroplethLayer' colorSet}}>
            {{colorSet}}
          </a>
        {{/each}}
      {{/if}}
    </div>
    <div class="cities-map">
      {{#leaflet-map onMoveend=(action 'updateNewPoint') as |layers|}}
        {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

        {{#if currentCity.isPlottingPoint}}
          <i class="crosshair huge marker icon"></i>
        {{/if}}

        {{#marker-cluster-layer}}
          {{#if showFeatures}}
            {{#each visibleFeatures as |feature|}}
              {{#if (and feature.latitude feature.id)}}
                {{marker-layer lat=feature.latitude lng=feature.longitude opacity=0.5 onClick=(action 'linkTo' 'cities.city.features' feature)}}
              {{/if}}
            {{/each}}
          {{/if}}
        {{/marker-cluster-layer}}

        {{#marker-cluster-layer}}
          {{#if showInvestments}}
            {{#each visibleInvestments as |investment|}}
              {{#if (and investment.latitude investment.id)}}
                {{marker-layer lat=investment.latitude lng=investment.longitude opacity=0.5 onClick=(action 'linkTo' 'cities.city.investments' investment)}}
              {{/if}}
            {{/each}}
          {{/if}}
        {{/marker-cluster-layer}}

        {{#if showParcels}}
          {{#each visibleParcels as |parcel|}}
            {{#if parcel.geom}}
              {{geojson-layer geoJSON=parcel.geojson style=parcelsChoroplethMapping onClick=(action 'linkTo' 'cities.city.parcels' parcel)}}
            {{/if}}
          {{/each}}
        {{/if}}

        {{#each model as |city|}}
          {{#marker-layer lat=city.latitude lng=city.longitude onClick=(action 'selectCity' city)}}
          {{/marker-layer}}
        {{/each}}

      {{/leaflet-map}}
    </div>
  </div>
</div>